
@{
    ViewBag.Title = "Index";
}

<br />
<br />
<div class="text-center">
    <p>We're going to have a party!</p>

    <img src="~/Content/fenyr_super_sport_txt_ii_1769.jpeg" />

    <br />
    <p>And you're invited...</p>
    <div class="btn btn-success">
        @Html.ActionLink("RSVP Now", "RsvpForm")
    </div>
</div>

